body{
	
 background-color: #FFFACD;


}
#container{
 margin-right: auto;
 	 margin-left: auto;
 	
 	 height: 1200px;
	 text-align: center;
	 margin-top: 0px;
	 margin-bottom: 0px;
	 position: relative;
	 background-color: white;
     top:0;
    
}
#ernst{

	background: #F0FFF0;
    border-radius: 0px;
    height: 100px;
    background-color: #F0FFF0;
    margin-top: 0px;
}
#container ul li 
{
				display: inline;
				float: left;
				list-style: none;
				margin-right: 25px;
				padding: 10px;
}
#container ul li a{
		text-decoration: none;
		list-style: none;


		font-family: arial;
		font-size: 20px;
		color: #000;
		border-radius: 0px;
	
		text-align: center;
	    background: transparent;
}

#container ul li a:hover{
		background: #FFE4E1;
		text-shadsow:1px 1px 1px 1px black;
	}
